<!DOCTYPE html>
<html>

<head>
  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>
  
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "header.html" . }}
  <div class="content">
    {{ if .Params.toc }}{{ .TableOfContents }}{{ end }}
    
    <section class="post">
      <h1 class="post-title"><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
      <span class="post-date">{{ .Date.Format "Jan 2, 2006 " }}</span>
      <div class="post-content">
        {{ .Content }}
      </div>
    </section>
    
    <section class="pagination clearfix">
      {{ with .PrevInSection }}
      <a class="btn previous " href="{{.Permalink}}"> {{ .Title }} </a> 
      {{ end }} 
      {{ with .NextInSection }}
      <a class="btn next " href="{{.Permalink}}"> {{ .Title }} </a> 
      {{ end }}
    </section>
    
  </div>
  
  <script src="{{ "js/highlight.min.js" | absURL }}"></script>
  <script>
    hljs.initHighlightingOnLoad();
  </script>
</body>

</html>
