<!DOCTYPE html>
<html>

<head>
  <title> {{ .Title }} &middot; {{ .Site.Title }} </title>
  
  {{ partial "head.html" . }}
</head>

<body>
  {{ partial "header.html" . }}
  <div class="content">
    <section class="post">
      <h1 class="post-title">{{ .Title }}</h1>
      <div class="post-content">
        {{ .Content }}
      </div>
    </section>
  </div>
</body>
</html>
