
@font-face {
   font-family: "vt323";
   src: url(font/vt323.ttf),
}

@font-face {
   font-family: "Hack";
   src: url(font/hack.ttf),
}

html {
   height:100%;
}

body {
   background-color: #800000;
   margin: 0;
   padding:0;
   min-height:100%;
   font-family: Helvetica, Arial, sans-serif;
   font-color: white;
   font-size: 100%;
   letter-spacing: .01rem;
   position:relative;
}

h1 { 
   font-size: 2.25em;
   font-family: vt323, sans-serif;
   text-transform: uppercase;
   font-weight: normal
}
 
h2 {  
   font-size: 1.875em; 
   font-family: vt323, sans-serif;
   text-transform: uppercase;
   font-weight: normal
}
 
h3 { 
   font-size: 1.5em;
   font-family: vt323, sans-serif;
   text-transform: uppercase;
   font-weight: normal
}

h4 { 
   font-size: 1.125em; 
   font-family: vt323, sans-serif;
   text-transform: uppercase;
   font-weight: normal
}
 

h5 { 
   font-size: 0.875em; 
   font-family: vt323, sans-serif;
   text-transform: uppercase;
   font-weight: normal
} 

h6 { 
   font-size: 0.75em; 
   font-family: vt323, sans-serif;
   text-transform: uppercase;
   font-weight: normal
} 

p a {
  color: #FFF;
  text-decoration: underline;
}

p a:hover {
  color: #CCC;
}

img,video {
   max-width: 100%;
}

.pull-left {
   float: left;
}

.pull-right {
   float: right;
}

.clearfix::before,.clearfix::after {
   display: table;
   content: "";
   line-height: 0
}

.clearfix::after {
   clear: both
}

.content {
   margin: 0 auto;
   padding: 6rem 1.85rem 8rem;
   max-width: 60rem;
}

/* ============== Header ============== */
header {
   position: fixed;
   top: 0;
   width: 100%;
   height: 1.75rem;
   font-family: Consolas, Menlo, "Liberation Mono", Courier, monospace; 
   font-size: .875rem;
   font-weight: bold;
   background: #000;
   border-bottom: 1px solid #000;
   z-index: 99;
} 

ul,ol {
   margin: 0;
   padding: 0;
   list-style: none
} 

nav {
   padding: 0 .5rem
}

.nav-center {
   text-align: center;
   line-height: 1.75rem;
   color: #000;
   text-transform: uppercase;
   text-shadow: rgba(255,255,255,.098) 0 1px 0,rgba(255,255,255,.12) 0 0 1.875rem
}

header a {
   color: #bbb;
   line-height: 1.75rem;
   padding: 0 .5rem;
   text-decoration: none;
}

header a:hover, .current a {
   color: #fff;
   font-weight: bold;
   text-decoration: none;
}

/* ============== Footer ============== */
footer {
   position: fixed;
   left: 0px;
   bottom: 1rem;
   height: 3rem;
   width: 100%;
   text-align: center;
   padding: 1rem;
}

.footer-info {
    font-family: vt323, sans-serif;
}

/* ============== Index ============== */

.user-profile {
  font-family: vt323;
  color: #800000;
  padding: 1rem 1rem 1rem 1rem;
  text-align: center;
}

.user-profile .user-avatar {
}

.user-profile .user-avatar img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#.user-profile .user-motivation {
#}

/* ============== List ============== */

.posts {
   margin-left: -6rem;
  
  .posts-archive {
     margin-bottom: 3rem;
    
    time {
       display: block;
       width: 10rem;
       float: left;
       font-family: $font-title;
       font-size: 1.75rem;
       text-align: right;
       color: #CCCCCC;
       font-weight: bold;
       white-space: nowrap;
       line-height: 1.25rem;
       padding: .125rem 0;
    }
    
    ol {
       margin-left: 12rem;
      
      li {
         margin-bottom: .5rem;
         list-style: decimal;
      }
    }
  }
}

/* ============== Page ============== */

.post {
   color: #FFF;
   line-height: 1.8;
   width: 100%;
  
  hr {
     height: 0.25rem;
     padding: 0;
     margin: 1.5rem 0;
     background-color: #e7e7e7;
     border: 0;
  }
  
  em {
     text-emphasis-style: circle;
     text-emphasis-position: under; 
  }

  code {
     font-family: monospace;
     font-size: 0.85rem;
     color: #555;
     background-color: #f5f5f5;
     border: 1px solid #eef;
     border-radius: 3px;
     padding: 0.2rem 0.5rem; 
  }

  pre {
     display: block;
     margin: 0 0 1rem 0;
     padding: 1rem;
     font-size: 0.8rem;
     line-height: 1.4;
     white-space: pre;
     white-space: pre-wrap;
     word-break: break-all;
     word-wrap: break-word;
     background-color: #f5f5f5; 
    
     code {
         font-size: 0.7rem;
         padding: 0;
         color: inherit;
         border: none; 
    }
  }
  
  blockquote {
     padding: 0.5rem 1rem;
     margin: 0.8rem 0;
     color: #7a7a7a;
     border-left: 0.3rem solid #e5e5e5; 
    
    p:first-child {
       margin-top: 0;
    }
    
    p:last-child {
       margin-bottom: 0;
    }
  }
}

#TableOfContents {
   border-radius: .25rem;
   padding: 1rem;
   background-color: #f7f7f7;
   margin: 5rem 0 0 35rem;
   position: absolute;
   font-size: .875rem;
  
  ul {
     list-style: none;
     margin: 0;
     padding: 0;
  }
  
  a {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    max-width: 14rem;
    text-overflow: ellipsis;
    
    &:before {
      content: '•';
      padding-right: .25rem;
    }
  }
  
  a + ul {
     padding-left: 1.5rem;
  }
  
  & ~ section {
     margin-left: -6rem;
  }

}

.pagination {
   width: 100%;
   margin: 4rem 0 0;
   padding: 1.6rem 0;
   border-top: 1px solid #e7e7e7;
  
  a {
     width: 42%;
     overflow: hidden;
     position: relative;
  }
  
  @mixin vertical-center {
     position: absolute;
     top: 50%;
     margin-top: -.5rem;
  }
  
  .previous {
     float: left;
     padding-left: 1.25rem;
    
    &:before {
       @include awesome-fa;
       @include vertical-center;
       left: 0;
       content: "\f053";
    }
  }
  
  .next {
     float: right;
     text-align: right;
     padding-right: 1.25rem;
    
    &:after {
       @include awesome-fa;
       @include vertical-center;
       right: 0;
       content: "\f054";
    }
  }
}


/* ============== formspree ============== */

.formspree {
  input, textarea {
      font-size: 0.8rem;
      border: 1px solid #ddd;
      background: #fff;
      padding: 0.5rem 2%;
      margin: 1.2rem 1rem 1.2rem 0;
      line-height: 1.5rem;
      width: 96%;
      border: 1px solid #ddd;
      border-radius: 3px;
      display: block;
  }
  
  input {
    max-width: 25rem;
  }
  
  button {
    float: right;
    color: #999;
    font-weight: bold;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    background: #fff;
    font-size: .8rem;
    padding: .5rem 1.2rem;
    
    &:hover {
      background: #f5f5f5;
    }
  }
  
}

/* ============== table ============== */

table {  
    table-layout : auto;
    color: #333; 
    font-family: Helvetica, Arial, sans-serif; 
    width: 100%; 
    border-collapse: 
    collapse; border-spacing: 0; 
}

table a {
    color: #800000;
    font-weight: normal;
    text-decoration: underline;
} 

td, th { border: 3px solid #000; 
         height: 30px;
	 padding: 10px;
}

th {  
    background: #F3F3F3; 
    font-weight: bold; 
}

td {  
    background: #FAFAFA;
    text-align: center; 
}

td:hover {
    background: #FFF;
}

/* ============== media ============== */

@media (max-width: 480px) {
  .content {
    margin: 0 auto;
    padding: 4rem 1rem 8rem;
  }
  
  .user-profile .user-avatar img {
    width: 8rem;
    height: 8rem
  }

  .user-profile .user-motivation {
    font-size: 2.625rem;
    line-height: 3.125rem
  }
  
  .pagination {
    a {
      font-size: .75rem;
    }
    
    .previous:before, .next:after {
      margin-top: -.35rem;
    }
  }
}

@media (max-width: 920px) {
  .posts {
    margin-left: 0rem;
  }
  
  #TableOfContents {
    display: none;
    
    & ~ section {
      margin-left: 0rem;
    }
  }

}

@media (max-width: 700px) {
  .posts {
    margin-left: 0rem;
  
    .posts-archive {
      time {
        float: none;
        text-align: left;
        margin-bottom: 1rem;
      }
    
      ol {
        margin-left: 0;
      }
    }
  }
}

