<footer>
  <div class="footer-info">
    <p>
      [<a href="mailto:{{ .Site.Params.Email }}?subject="><i class="fa fa-envelope-o"></i>{{ .Site.Params.Email }}</a>]
      [<a href="https://gohugo.io/" title="Hugo :: A fast and modern static website engine">Hugo {{ .Hugo.Version }}</a>]
      [<a href="https://github.com/IvanChou/yii.im" title="vec">Vec</a>]
      [<a href="http://creativecommons.org/licenses/by-nc-nd/3.0/" title="CC BY-NC-ND 3.0">CC BY-NC-ND 3.0</a>]
    </p>
  </div>
</footer>
