<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
{{ .Hugo.Generator }}

<!-- CSS -->
<link rel="stylesheet" href="{{ "css/vec.css" | absURL }}">

<!-- Icons -->
<link rel="shortcut icon" href="/favicon.ico">

<!-- RSS -->
<link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
