<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
  <title> {{ .Site.Title }} </title>

  {{ with .Site.Params.Keywords }}<meta name="keywords" content="{{.}}">{{ end }}
  {{ with .Site.Params.Description }}<meta name="description" content="{{.}}">{{ end }}

  {{ partial "head.html" . }}

</head>

<body>
  {{ partial "header.html" . }}

  <section class="user-profile">
    <figure class="user-avatar">
	    <img alt="avatar" src="{{ .Site.Params.Avatar }}">
    </figure>
  </section>
</body>
</html>
